html {
  background-color: white;
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;

}

h1 {
  font-size: 120px;
}

h3 {
  color: #393e46;
  font-size: 50px;
}

.front{

  color: black;
}

body {
  margin: 0;
  text-align: center;
}

img {
  border-radius: 50%;
}

.jennis {
  margin-top: 5px;
  margin-bottom: 0;
}

.insetshadow {
    margin-bottom: 30px;
    margin-left: 0;
    padding-bottom: 20px;
    color: white;
    background-color: #2d2d2d;
    letter-spacing: .1em;
    text-shadow:
      -10px -10px 15px #111,
      20px 20px 20px #363636;
  }

hr {
  margin-top: 225px;
  width: 40%;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
}
